{% extends "base.html" %}
{% set active_page = "review" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="row">
                {% if current_user.occupation == 'Doctor' %}
                    <h2>Patient's medical image under {{current_user.name}}'s treatment <a href="/home" class="btn btn-outline-primary float-end" data-toggle="modal" data-target="#mymodal">Add Image</a></h2>
                {% endif %}
                {% if current_user.occupation == 'Nurse' %}
                    <h2>Patient's medical image under {{current_user.department}} department <a href="/home" class="btn btn-outline-primary float-end" data-toggle="modal" data-target="#mymodal">Add Image</a></h2>
                {% endif %}
            </div>

            <div class="row" style="padding-top: 1rem">
                <table class="table table-hover table-striped">
                    <tr>
<!--                        <th>No.</th>-->
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Physician Name</th>
                        <th>Department</th>
                        <th>Date of creation</th>
                        <th>Action</th>
                    </tr>

                    {%for row in images%}
                    <tr>
                        <td>{{row.Encryption.patient_id}}</td>
                        <td><a href="/patientInfo/{{row.Encryption.patient_id}}">{{row.Encryption.patient_name}}</a></td>
                        <td>{{row.Encryption.image_title}}</td>
                        <td>{{row.Encryption.image_category}}</td>
                        <td>{{row.Encryption.physician_name}}</td>
                        <td>{{row.Users.department}}</td>
                        <td>{{row.Encryption.date_of_creation}}</td>
                        <td>
                            <a href="/decrypt/{{row.Encryption.image_id}}" class="btn btn-outline-secondary btn-xs" data-bs-toggle="modal" data-bs-target="#modaldecrypt{{row.Encryption.image_id}}">Decrypt</a>
                            <a href="/send/{{row.Encryption.image_id}}" class="btn btn-outline-secondary btn-xs" data-bs-toggle="modal" data-bs-target="#modalsend{{row.Encryption.image_id}}">Send</a>
                        </td>
                    </tr>

                    <div id="modaldecrypt{{row.Encryption.image_id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Decrypt Image</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('decrypt')}}" method="POST">
                                        <div class="form-group">
                                            <label>Patient ID:</label>
                                            <input type="text" class="form-control" name="patient_id" value="{{row.Encryption.patient_id}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <input type="hidden" name="image_id" value="{{row.Encryption.image_id}}">

                                            <label>Patient Name:</label>
                                            <input type="text" class="form-control" name="patient_name" value="{{row.Encryption.patient_name}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <label>Title:</label>
                                            <input type="text" class="form-control" name="image_title" value="{{row.Encryption.image_title}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <label>Image Data:</label>
                                            <input type="text" class="form-control" name="encrypted_image" value="{{row.Encryption.encrypted_medical_image}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <button class="btn btn-primary" type="submit">Decrypt</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modalsend{{row.Encryption.image_id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Send Image</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('deepSteganography')}}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Patient ID:</label>
                                            <input type="text" class="form-control" name="patient_id" value="{{row.Encryption.patient_id}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <input type="hidden" name="image_id" value="{{row.Encryption.image_id}}">

                                            <label>Patient Name:</label>
                                            <input type="text" class="form-control" name="patient_name" value="{{row.Encryption.patient_name}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <label>Title:</label>
                                            <input type="text" class="form-control" name="image_title" value="{{row.Encryption.image_title}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <label>Image Data:</label>
                                            <input type="text" class="form-control" name="encrypted_image" value="{{row.Encryption.encrypted_medical_image}}" disabled>
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <label>Cover Image:</label>
                                            <input class="form-control" type="file" name="cover_image">
                                        </div>
                                        <div class="form-group" style="padding-top: 1rem">
                                            <button class="btn btn-primary" type="submit">Send</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<script>
$('table.table tr').click(function(){
   window.location.href = $(this).data('link');
});
</script>